<div>
    <form class="well form-horizontal" method="post"  id="contact_form" style="background-color:white; border:none; box-shadow:none;">


        <!-- Form Name -->
        <legend style="text-align:center; border-bottom:0">Thanks for filling out the form, please verify your submission </legend><br>

        <div class="col-xs-offset-4 col-xs-8">
            <!-- Text input-->
                <div class="form-group">
                <label class="control-label">First Name:</label>
                <span style="padding-top:50px;">{{form.firstName}}</span>
            </div>

                <div class="form-group">
                <label class="control-label">Last Name:</label>
                <span style="margin-top:1cm;">{{form.lastName}}</span>
            </div>

                <div class="form-group">
                <label class="control-label">Gender:</label>
                <span style="margin-top:1cm;">{{form.gender}}</span>
            </div>

                <div class="form-group">
                <label class="control-label">Education:</label>
                <span style="margin-top:1cm;">{{form.education}}</span>
            </div>

                <div class="form-group">
                <label class="control-label">Phone Number:</label>
                <span style="margin-top:1cm;">{{form.phone}}</span>
            </div>

                <div class="form-group">
                <label class="control-label">Address:</label>
                <span style="margin-top:1cm;">{{form.address}}</span>
            </div>

                <div class="form-group">
                <label class="control-label">City:</label>
                <span style="margin-top:1cm;">{{form.city}}</span>
            </div>

                <div class="form-group">
                <label class="control-label">State:</label>
                <span style="margin-top:1cm;">{{form.state}}</span>
            </div>

                <div class="form-group">
                <label class="control-label">Category:</label>
                <span style="margin-top:1cm;">{{form.category}}</span>
            </div>

            <div class="form-group" >
                <label class="control-label">Description:</label>
                <span style="width:80%; text-align:left; word-wrap: break-word;">{{form.description}}</span>
            </div>

                <img id="blah" src="#" alt="your image" ng-if="form.image" style="margin-bottom:30px; margin-top:10px; width:250px; height:250px"/>
            </div>

            <div id="map" style="width:750px;height:500px; margin:auto"></div>


    </form>
</div>
